{% block hangouts_block %}

  {% set hangouts_lnk_href = hangouts_href_basis ~ hangouts_gid %}
  {% set hangouts_img_src = hangouts_icon_src_prefix ~ hangouts_size ~ hangouts_icon_src_suffix %}

  <div class="hangouts-blk">
    {% if hangouts_gid is not empty and hangouts_size is not empty %}

      <a href="{{ hangouts_lnk_href }}"
         target="_blank"
         class="{{ hangouts_lnk_classes|join(' ') }}">
        <img src="{{ hangouts_img_src }}"
             alt="Hangouts icon {{ hangouts_size }}"
             class="{{ hangouts_img_classes|join(' ') }}">
      </a>

    {% endif %}
  </div>

{% endblock %}