{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <div class="region-menu">
      <div class="region-menu--helpful">
    {% if menu_level == 0 %}
      <menu{{ attributes.addClass(['region-menu--list', 'laveg__shrink']) }}>
    {% else %}
      <menu class="menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          'region-menu--item',
          item.is_expanded ? 'region-menu--item__expanded',
          item.is_collapsed ? 'region-menu--item__collapsed',
          item.in_active_trail ? 'region-menu--item__active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        <a href="{{ item.url }}" class="region-menu--link laveg__noborder">{{ item.title }}</a>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </menu>
    </div>
    </div>
  {% endif %}
{% endmacro %}
