<div class="laveg-layout">

    <header class="laveg-layout--header">
        {{ page.header }}
    </header>

    {% if page.primary_menu %}
        {{ page.primary_menu }}
    {% endif %}

    {% if page.featured_top %}
        {{ page.featured_top }}
    {% endif %}

    {% if page.warning %}
        {{ page.warning }}
    {% endif %}

    <main class="laveg-layout--content">
        {% block content %}
        {{ page.content }}
        {% endblock %}

        {% if page.welcome_area %}
        {{ page.welcome_area }}
        {% endif %}

    </main>

    {% if page.featured_bottom %}
        <div class="laveg-laoyut--featured-bottom">
            {% block featured_bottom %}
             {{ page.featured_bottom }}
            {% endblock %}
        </div>
    {% endif %}

    {% if page.services %}
        <div class="laveg-laoyut--services">
            {{ page.services }}
        </div>
    {% endif %}

    {% if page.work_system %}
        <div class="laveg-layout--work">
            {{ page.work_system }}
        </div>
    {% endif %}

    {% if page.slogan_area %}
        <div class="laveg-layout--slogan">
            {{ page.slogan_area }}
        </div>
    {% endif %}

    <footer>
        {% if page.footer_mini %}
            <section class="laveg-layout--footer-mini">
                {{ page.footer_mini }}
            </section>
        {% endif %}

        {% if page.footer_second %}
            <section class="laveg-layout--footer-second">
                {{ page.footer_second }}
            </section>
        {% endif %}
    </footer>

</div>