.layout-block--main {
    display: flex;
    flex-direction: column;
}

.laveg-layout--content {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.views-field-title a,
.field--name-title {
    color: #65666b;
    font-family: "Open Sans", Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.layout--node-only-body,
.views-field-body {
    overflow: hidden;
    font-family: Calibri, Arial, sans-serif;
    color: #65666b;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.views-field-body img,
.layout--node-only-body img {
    margin-right: 25px;
}