.laveg__noborder {
    text-decoration: none;
    border: none;
    outline: none;
}

.laveg__shrink {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.laveg__noindent {
    margin: 0;
    padding: 0;
}