.meta-attention {
    font-family: "Segoe UI", Arial, sans-serif;
    padding-right: 2em;
}

.meta-attention__title,
.attention-info__date {
    text-transform: uppercase;
}

.meta-attention__title {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 2.25em;
    font-weight: normal;
    color: #545455;
    margin: 0 0 .5em;
}

.attention-info {
    display: flex;
}

.attention-info__date {
    flex: 0 0 10%;
    color: #000;
    font-weight: bold;
    font-size: 2.5em;
    padding-right: .5em;
}

.attention-info__month {
    font-size: 65%;
    font-weight: normal;
    line-height: 0.5;

}

.attention-info__description {
    flex: 2 0 20%;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #717171;
    font-size: 1em;
    line-height: 1.5;
}