.big-picture__image {
    min-height: 716px;
    background: transparent url(../../images/liberate.jpg) 0 0 no-repeat;
    background-size: contain;
    position: relative;
}

.big-picture__yellow-title {
    padding-top: 4em;
    flex-direction: column;
}

.big-picture__grey-title {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #585858;
    font-size: 4em;
}

.squares {
    width: 50%;
    padding-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.squares__helpful {
}

.mehr {
}

.mehr__pseudo-link {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #505050;
    background: transparent url(../../images/arrow.png) 0 no-repeat;
    padding-left: 20px;
}