.slideshow-container * {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slideshow__myslides {
    display: none;
    min-height: 580px;
}

/* Next & previous buttons
.slideshow__prev, .slideshow__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}*/

/* Position the "next button" to the right
.slideshow__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}*/

/* On hover, add a black background color with a little bit see-through
.slideshow__prev:hover, .slideshow__next:hover {
    background-color: rgba(0,0,0,0.8);
}*/

/* Caption text */
.slideshow__text {
    color: #ecaa2d;
    font-size: 3em;
    text-shadow: 2px 2px 10px rgba(83, 83, 83, 1);
    text-transform: uppercase;
    padding: 2em 0 0 3em;
    padding-left: 2em;
}

.slideshow__grey {
    text-transform: none;
    color: #515151;
}

.slideshow__dots {
    text-align: center;
    position: absolute;
    bottom: 42%;
    left: 6em;
}

/* The dots/bullets/indicators */
.slideshow__dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow__dot:hover {
    background-color: #717171;
}

.slideshow__active {
    background-color: #ecaa2d;
}

/* Fading animation */
.slideshow__fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
