.three-blocks {
    margin-top: -15%;
    justify-content: space-between;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.three-blocks__title,
.three-blocks__sub-title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.three-blocks__title,
.three-blocks__content {
    padding: 20px 40px;
}

.three-blocks__title,
.three-blocks__perspective {
    font-weight: normal;
}

.three-blocks__title {
    font-size: 2.5em;
    color: #fff;
}

.three-blocks__sub-title-wrapper {
    display: flex;
    align-items: center;
}

.three-blocks__block {
    background-color: #fcfcfc;
}

.three-blocks__block:nth-child(2) {
    margin: 0 1em;
}

.three-blocks_type_engage {
    background-color: #ecaa2d;
}

.three-blocks_type_liberate {
    background-color: #4d62f9;
}

.three-blocks_type_perform {
    background-color: #676767;
}

.three-blocks__grey-box {
    background-color: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 82px;
    height: 82px;
    margin: 0 1em 1em 0;
}

.three-blocks__grey-box_type_engage {
    background-image: url(../../images/hands-shaking.png);
}

.three-blocks__grey-box_type_liberate {
    background-image: url(../../images/gears.png);
}

.three-blocks__grey-box_type_perform {
    background-image: url(../../images/human_pattern.png);
}

.three-blocks__sub-title {
    display: inline;
    font-size: 1.2em;
    color: #717171;
    line-height: 1.3;
}

.three-blocks__perspective {
    color: #9d9d9f;
}

.three-blocks__descr {
    font-size: 90%;
    color: #c4c4c7;
    line-height: 1.5;
}

.three-blocks__how-we {
    text-transform: uppercase;
    padding-top: 1em;
}

.three-blocks__link {
    color: #717171;
    font-weight: bold;
    font-size: 90%;
}

.three-blocks__link:hover {
    color: #a8a8a8;
}