.meta-footer {
    padding: 2em;
    background-color: #2e2e2e;
    color: #b8b8b8;
    font-family: "Segoe UI", Arial, sans-serif;
}

.footer__two-halfs {
    display: flex;
    width: 100%;
    font-size: 90%;
}

.meta-columns {
    border-right: 1px solid #535353;
    display: flex;
    margin-top: 1em;
    padding-right: 2em;

}

.meta-columns__column {
    margin-right: 6em;
}

.meta-columns__link,
.meta-links__link {
    text-decoration: none;
    color: #979797;
}

.meta-columns__link:hover,
.meta-links__link:hover {
    color: #d7d7d7;
}

.meta-links {
    padding-top: 1em;
}

.meta-links__link {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1.2em;
    margin-right: 2em;
    background: transparent url(../../images/arrow.png) 0 0 no-repeat;
    background-size: contain;
}

.meta-columns__title,
.contact__title,
.subscripting__title {
    margin: 0;
    padding-bottom: 1em;
    color: #dcdcdc;
    text-transform: uppercase;
}

.contact__title,
.subscripting__title {
    color: #f0f0f0;
}

.meta-columns__title {
    padding-top: 1em;
}

.meta-columns__block {
    margin: .5em 0 1em 0;
}

.contact__part,
.meta-columns__one-link {
    font-size: 85%;
}

.meta-columns__one-link {
    margin-left: 2em;
}

.footer__right {
    padding-left: 2em;
}

.contact-info {
    padding: 1.5em 0;
    border-bottom: 1px solid #535353;
}

.subscrtipting {
    padding-top: 1.5em;
}

.subscripting__form {
    display: flex;
}

.subscripting__input,
.subscripting__go {
    font-size: 80%;
    border: 1px solid #fcfcfc;
    border-radius: 3px;
    padding: 4px 10px;
}

.subscripting__input {
    background-color: #fcfcfc;
}

.subscripting__go {
    background-color: #2e2e2e;
    text-align: center;
    padding: 5px 30px;
    margin: 0 1em;
    color: #fcfcfc;
    border-color: #434343;
}

.subscripting__go:hover {
    background-color: #434343;
}