.login-form {
    display: inline-flex;
    align-items: center;
}

.login-form__login,
.login-form__lang,
.login-form__pseudo-option {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.login-form__login,
.login-form__pseudo-option {
    color: #928b8b;
}

.login-form__wrapper {
    margin-left: 1.5em;
    background-color: #f0f0f0;
    display: inline-flex;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.login-form__lang {
    color: #585252;
    line-height: 2.1;
    padding: 0 10px;
}

.login-form__pseudo-select {
    flex-direction: column;
    margin: 0;
    display: none;
    position: absolute;
    padding: 20px 0 0 0;
}

.login-form__pseudo-option {
    font-size: 80%;
    position: relative;
    z-index: -1;
    margin: 0 1em;
}

.login-form__wrapper:active .login-form__pseudo-select,
.login-form__pseudo-select:hover {
    display: initial;
}

.login-form__selected {
    color: #8a8484;
}

.login-form__dummy/*,
.login-form__label-dummy:after*/ {
    background: #8f8f8f url(../../images/select_elem.png) center no-repeat;
    width: 1.5em;
    margin: -1px;
    padding: 1px;
    content: "";
}

.login-form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: transparent url(/themes/metasonic/images/select_grey.png) right center no-repeat;
    border: none;
    border-radius: 5px;
    text-overflow: '';
    text-indent: 0.01px;
    padding-left: 10px;
    font-weight: bold;
    width: 140px;
    vertical-align: middle;
    height: 25px;
    color: #514b4c;
}

.login-form__select::-ms-expand {
    display: none;
}