.big-news__title,
.small-news__title {
    font-family: 'Segoe UI Light', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #868686;
}

.big-news__descr,
.small-news__body {
    color: #b4b5b8;
    line-height: 1.5;
}

.big-news__title {
    margin: 0 0 1em;
}

.big-news__descr {
    padding-bottom: 3em;
}

.big-news__read-more {
    background-color: #eca92d;
    padding: 15px;
    border-radius: 10px;
}

.big-news__read-more:hover {
    background-color: #2deca9;
}

.big-news__read-more a {
    color: #fff !important;
}



.small-news__row {
    margin-bottom: 2em;
}

.small-news__image {
    position: absolute;

}


.small-news__body,
.small-news__title {
    padding-left: 6em;
}

.small-news__title {
    margin: 0 0 .5em;
}

.small-news__body {
    font-family: 'Segoe UI Light', Arial, sans-serif;
}

.small-news__body p {
    margin: 0;
}
