.quote-block {
    padding: 1.5em 1em 1em 5em;
    background: #fcfcfc url(../../images/quotes.png) 3% 3% no-repeat;
    font-family: "Segoe UI", Arial, sans-serif;
}

.quote__description {
    line-height: 1.5;
    color: #a4a4a4;
}

.quote__signature {
    background: transparent url(../../images/stanfford.png) right bottom no-repeat;
}

.quote__author {
    width: 50%;
    color: #868686;
}

.quote__name {
    font-weight: bold;
}

.quote__descr {
}