.search-form {
    margin-left: 1em;
}

.search-form__helper {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: #d0d0d0;
    background-color: #f0f0f0;
    display: inline-flex;
}

.search-form__input {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
}

.search-form__input::placeholder,
.search-form__input::-moz-placeholder,
.search-form__input::-webkit-input-placeholder,
.search-form__input:-ms-input-placeholder,
.search-form__input:-moz-placeholder {
    color: #a9a5a5;
}

.search-form__go {
    display: inline-block;
    background: #8f8f8f url(../../images/lens.png) center no-repeat;
    border-top-right-radius: 5px;
    width: 2em;
    margin: -1px;
}