.meta-nav {
}

.meta-menu {
    display: flex;
    list-style: none;
    margin: 0 0 0 1em;
    padding: .5em 0;
    justify-content: space-around;
    background-color: #777;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.meta-menu__item {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 13px;
}

.meta-menu__link {
    color: #fff;
}

.meta-menu__link:hover {
    color: #dedede;
}