{% extends "block.html.twig" %}
{% block content %}
    <div class="region-header laveg__shrink">
  {% if site_logo and site_name and site_slogan %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="laveg__noborder">
      <div class="region-header--logo">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="region-header--imglogo" />
      <hgroup class="region-header--logo-text">
        <h2 class="region-header--red-title region-header_color_red">{{ site_slogan }}</h2>
        <h1 class="region-header--lavegde-title">{{ site_name }}<span class="region-header_color_red">.</span>de</h1>
      </hgroup>
      </div>
    </a>
    <div class="region-header--right">
      <div class="region-header--telephone">
        <div class="region-header--phone">
          <div class="region-header--tel-img"></div>
          <div class="region-header--tel-num">0322 235 57</div>
        </div>
        <div class="region-header--links">
          <menu class="region-header--menu">
            <li class="region-header--menu-item region-header_link_bundesweit">Bundesweit tätig</li>
            <li class="region-header--menu-item region-header_link_konstensole">Konstenlose Erstbratung</li>
            <li class="region-header--menu-item region-header_link_mofr">Mo-Fr von 8-20 Uhr</li>
          </menu>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
