<div class="layout">

    <header role="banner" class="layout__header">
        <div class="header__helper common__middle">
        {{ page.header }}
            <div class="layout__menus">
                <div class="layout__primary-top">
                    {% if page.primary_top %}
                        {{ page.primary_top }}
                    {% endif %}
                </div>
                <div class="layout__secondary-top">
                    {% if page.secondary_top %}
                        {{ page.secondary_top }}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% if page.big_picture %}
        <div class="layout__bigpicture">
            {{ page.big_picture }}
        </div>
    {% endif %}

    {% if page.featured_top %}
        <div class="layout__ftop">
            {{ page.featured_top }}
        </div>
    {% endif %}

    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

        <div class="layout__content">
            <div class="content__news common__middle">
                {% if page.news_big %}
                    <section class="layout__big-news">
                        {{ page.news_big }}
                    </section>
                {% endif %}
                {% if page.news_small %}
                    <section class="layout__small_news">
                        {{ page.news_small }}
                    </section>
                {% endif %}
            </div>
            <div class="content__additional common__middle">
                {% if page.attention %}
                    <section class="layout__attention">
                        {{ page.attention }}
                    </section>
                {% endif %}
                {% if page.quote %}
                    <section class="layout__quote">
                        {{ page.quote }}
                    </section>
                {% endif %}
            </div>
        </div>{# /.layout-content #}
    </main>

    {% if page.footer %}
        <footer role="contentinfo" class="layout__footer">
            {{ page.footer }}
        </footer>
    {% endif %}

</div>{# /.layout-container #}
