{{ attach_library('metasonic/carousel') }}

<div class="slideshow-container">

    {% for item in slideshow_images %}
        <div class="slideshow__myslides slideshow__fade" style="width: 100%; background: transparent url({{ item.src }}) top left no-repeat;">
            {#<img src="{{ item.src }}" style="width: 100%;">#}
            <div class="slideshow__text">
                {{ item.content_yellow }}
                <div class="slideshow__grey">{{ item.content_grey }}</div>
            </div>
        </div>
    {% endfor %}

    <div class="slideshow__dots">
        {% for i in 1..slideshow_images|length %}
            <span class="slideshow__dot" onclick="currentSlide({{ i }});"></span>
        {% endfor %}
    </div>

    {#
    <span class="slideshow__prev" onclick="plusSlides(-1)">&#10094;</span>
    <span class="slideshow__next" onclick="plusSlides(1)">&#10095;</span>
    #}
</div>
