{% extends "block.html.twig" %}
{% block content %}
    {% if site_logo %}
        <div class="meta-branding">
            <div class="branding__helpful common__middle">
                <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
                    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
