<div class="meta-footer">
    <div class="footer__helpful common__middle">
        <div class="footer__two-halfs">
            <div class="footer__left">
                <div class="meta-links">
                    <a href="/contact-us" class="meta-links__link">Contact us</a>
                    <a href="/demo" class="meta-links__link">Get demo</a>
                    <a href="/get-started" class="meta-links__link">Get started</a>
                </div>
                <div class="meta-columns">
                    <div class="meta-columns__column">
                        <section class="meta-columns__section">
                            <div class="meta-columns__block">
                                <h4 class="meta-columns__title">Producte & services</h4>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Suite</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Vorteile</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Im Überblick</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Nutzenversprechen</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Research</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Touch</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Funktionsweise</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Technische Fakten</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Was ist S-BPM</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Modellieren mit S-BPM</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Warum S-BPM</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">BPM einfach gemacht</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Prozessvalidierung</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Bücher</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Academy</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Standardschulungen</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Zertifizieren</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Individuelle Schulung</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Termine</a></div>
                            </div>
                        </section>
                    </div>
                    <div class="meta-columns__column">
                        <section class="meta-columns__section">
                            <div class="meta-columns__block">
                                <h4 class="meta-columns__title">Downloads</h4>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Whitepaper</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Fact Sheers</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Social Media</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Videos</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Newsletter</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Pressemitteilugen</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">In der Presse</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">PR Downloads</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Pressekontakt</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Kommende Events</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Vergangene Events</a></div>
                            </div>
                        </section>
                    </div>
                    <div class="meta-columns__column">
                        <section class="meta-columns__section">
                            <div class="meta-columns__block">
                                <h4 class="meta-columns__title">Partner</h4>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Pertnernetzwerk</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Forschungswerk</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Partner CRM</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <h4 class="meta-columns__title">Kunden</h4>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Pertnernetzwerk</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Forschungswerk</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Partner CRM</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <h4 class="meta-columns__title">Unternehmen</h4>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Über uns</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Mission & Vision</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Auszeichnugen</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Gründer</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Management Team</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Metasonic Song</a></div>
                            </div>
                            <div class="meta-columns__block">
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Wir als Arbeitgeber</a></div>
                                <div class="meta-columns__one-link"><a href="#" class="meta-columns__link">Karriere bei Metasonic</a></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="social-icons">
                    <img class="social__icon" src="/themes/metasonic/images/pace_social_icons/google+.png" alt="Share to Google Plus">
                    <img class="social__icon" src="/themes/metasonic/images/pace_social_icons/twitter.png" alt="Share to Twitter">
                    <img class="social__icon" src="/themes/metasonic/images/pace_social_icons/facebook.png" alt="Share to Facebook">
                    <img class="social__icon" src="/themes/metasonic/images/pace_social_icons/linkedin.png" alt="Share to LinkedIn">
                    <img class="social__icon" src="/themes/metasonic/images/pace_social_icons/rss.png" alt="Add to RSS">
                    <img class="social__icon" src="/themes/metasonic/images/pace_social_icons/sharethis.png" alt="Share to...">
                </div>
                <div class="contact-info">
                    <h3 class="contact__title">Metasonic AG</h3>
                    <div class="contact__address">
                        <div class="contact__part">Münchner Straβe 29 — Hettenshausen</div>
                        <div class="contact__part">85276 Pfaffenhofen</div>
                        <div class="contact__part">Deutschland</div>
                        <div class="contact__part">Tel: +49 8441 ‒ 278 10‒0</div>
                        <div class="contact__part">Fax: +49 8441 ‒ 278 10‒999</div>
                        <div class="contact__part">E-mail: info@metasonic.de</div>
                    </div>
                </div>
                <div class="subscrtipting">
                    <h3 class="subscripting__title">Anmeldung zum newsletter</h3>
                    <form action="/subscr" class="subscripting__form">
                        <input type="email" name="addr" value="" placeholder="E-mail Adresse" class="subscripting__input">
                        <button class="subscripting__go" type="submit" >Anmelden</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>