.common__middle {
    display: flex;
    max-width: 1130px;
    margin: auto;
}

.common__noborder {
    border: none;
    text-decoration: none;
}

.common__nobullets {
    list-style: none;
    display: flex;
}

.common__nomargin {
    margin: 0;
    padding: 0;
}