/*
 * This file contains styles for elements declared in page.html.twig
 */


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/*
 * Main wrapper for all regions
 */
.layout {
    background-color: #f0f0f0;
}

/*   H E A D E R   */
.layout__header {
    background-color: #fff;
    max-height: 120px;
}

.header__helper {
    display: flex;
    justify-content: space-between;
}

/*   Container for primary and secondary menus   */
.layout__menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*   Primary top   */
.layout__primary-top {
}

/*   Secondary top   */
.layout__secondary-top {

}

/*   B I G   P I C T U R E   */
.layout__bigpicture {

}

/*   F E A T U R E D   T O P   */
.layout__ftop {
    position: relative;
    z-index: 10;
}

/*   C O N T E N T   */
.layout__content {
}

.layout__content a {
    text-decoration: none;
    color: #868686;
}

.layout__content h2,
.layout__content h4 {
    font-family: 'Segoe UI Light', Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #4d4d4e;
}

.content__news {
    margin-top: 3em;
}

/* News block */
.layout__big-news {
    padding-right: 1em;
    flex: 2;
}

.layout__small_news {
    padding-left: 1em;
    flex: 1;
}

.content__additional {
    margin: 4em auto;
}

.layout__attention {
    flex: 3 0 10%;
}

.layout__quote {
    flex: 3 0 20%;
}

/*   F O O T E R   */
.layout__footer {
}