.popup-draggable {
  background-color: #fefefe;
  border: 1px solid #444;
  border-radius: 7px;
  position: fixed;
  z-index: 1000;
}

.popup-draggable__header {
  background-color: #444;
  padding: 5px 15px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-draggable__title {
  text-transform: uppercase;
  color: #fefefe;
  margin: 0;
  padding: .5em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.popup-draggable__close {
  flex-basis: 22px;
  background-color: #d2143f;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  padding: 2px;
}

.popup-draggable__content {
  padding: 1em;
  overflow-y: auto;
  text-align: justify;
  max-height: 430px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

.popup__content {
  margin: 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  opacity: .7;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-message {
  border: 1px solid;
  border-radius: 7px;
  padding: .5em;
  margin: .5em .2em;
}

.popup-message_type_status {
  border-color: #0c0;
  color: #0c0;
  background-color: #cf9;
}

.popup-message_type_warning {
  border-color: #c93;
  color: #c93;
  background-color: #ffc;
}

.popup-message_type_error {
  border-color: #f03;
  color: #f03;
  background-color: #fcf;
}

.pseudo-link {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dashed;
}

.pseudo-link:hover {
  color: #ff1744;
  border-bottom-color: #ff1744;
}

.popup-messages {
  margin: 0;
  padding: 0;
}