.region-feattop {
    box-sizing: border-box;
    background: linear-gradient(0deg, #ececec 0%, #f4f4f4 100%);
    padding: 1.5em 0;
    margin-top: 2em;
}

.region-feattop--helpful {
}

.region-feattop--item {
    text-align: center;
}

.region-feattop--black-back {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.region-feattop--black-back_type_licence {
    background-image: url(../../images/note.png);
}

.region-feattop--black-back_type_laws {
    background-image: url(../../images/houses.png);
}

.region-feattop--black-back_type_legal {
    background-image: url(../../images/legal.png);
}

.region-feattop--title {
    font-family: "Raleway Thin", Arial, sans-serif;
    color: #b5141d;
    font-size: 20px;
    text-transform: uppercase;
    margin: 1em 0 0 0;
}

.region-feattop--description {
    font-family: Calibri, Arial, sans-serif;
    font-size: 80%;
    color: #000;
    line-height: 1.5;
    padding-bottom: 1em;
}

.region-feattop--more {
    font-family: 'Myriad Pro', Calibri, Arial, sans-serif;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #a30022;
    text-transform: uppercase;
}