.region-footer-mini {
    background-color: #2d2d2d;
}

.region-footer-mini--helpful {
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
}

.region-footer-mini--contacts {
    padding-left: 30px;
    padding-top: 20px;
    min-height: 30px;
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
}

.region-footer-mini_block_address {
    font-style: normal;
    background-image: url(../../images/map.png);
}

.region-footer-mini_block_phone {
    background-image: url(../../images/telephone.png);
}

.region-footer-mini_block_mobile {
    background-image: url(../../images/mobile_phone.png);
}

.region-footer-mini_block_email {
    background-image: url(../../images/mail.png);
}