.region-footer-second {
    background-color: #000;
}

.region-footer-second--helpful {
    align-items: center;
    justify-content: space-between;
    min-height: 125px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #fff;
}

.region-footer-second--logo-container {
    flex-basis: 200px;
}

.region-footer-second--logo {
    font-family: "Istok Web", Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.region-footer-second--text {
    flex-basis: 500px;
    line-height: 1.5;
}
