.region-header {
    justify-content: space-between;
    min-width: 1000px;
}

.region-header_color_red {
    color: #b5141d;
}

.region-header--logo {
    display: flex;
    align-items: flex-end;
}

.region-header--minilogo,
.region-header--imglogo {
    width: 66px;
    height: 66px;
    background: transparent url(../../images/minilogo.png) no-repeat;
    margin-right: 15px;
    align-self: center;
}

.region-header--imglogo {
    background: none;
}

.region-header--logo-text {
    display: flex;
    flex-direction: column;
    font-family: "Istok Web", Arial, sans-serif;
    font-weight: 700;
}

.region-header--red-title {
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    position: relative;
    left: 20px;
    top: 25px;
    letter-spacing: 3px;
}

.region-header--lavegde-title {
    color: #222;
    font-size: 64px;
    margin: 0;
    padding: 0;
    letter-spacing: -3px;
}


.region-header--right {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.region-header--phone {
    display: flex;
    justify-content: flex-end;
    background: transparent url(../../images/brown_line.png) right bottom no-repeat;
    margin-bottom: 10px;
}

.region-header--tel-img {
    background: transparent url(../../images/phone_green.png) center top no-repeat;
    width: 68px;
    height: 46px;
    margin-right: 15px;
    padding-bottom: 12px;
    border-bottom: 3px solid #2d6075;
}

.region-header--tel-num {
    font-family: Raleway, Arial, sans-serif;
    color: #2d6075;
    font-size: 37px;
    font-weight: 500;
    padding-bottom: 18px;
}

.region-header--menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 30px;
}

.region-header--menu-item {
    margin-left: 30px;
    padding-left: 30px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #121212;
    letter-spacing: -1px;
}

.region-header_link_bundesweit {
    background: transparent url(../../images/de_flag.png) left top no-repeat;
}

.region-header_link_konstensole {
    background: transparent url(../../images/transaction.png) left top no-repeat;
}

.region-header_link_mofr {
    background: transparent url(../../images/clock_sign.png) left top no-repeat;
}