.region-menu {
    background-color: #000;
}

.region-menu--helpful {
    margin-top: 2em;
}

.region-menu--list {
    align-items: center;
    padding: 0;
    list-style: none;
    min-height: 55px;
    text-transform: uppercase;
}

.region-menu--item {
    font-family: Raleway, Arial, sans-serif;
    margin-right: 30px;
    color: #fff;
}

.region-menu--link {
    color: #fff;
}