.region-services {
    background-color: #fff;
}

.region-services--helpful {
    flex-direction: column;
    padding: 35px 0;
    justify-content: space-between;
}

.region-servies--title {
    font-family: "Open Sans", Arial, sans-serif;
    color: #65666b;
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
}

.region-services--columns {
    display: flex;
    justify-content: space-between;
    margin: 2.5em 0 0 0;
}

.region-services--list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 260px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #7b7b7b;
    font-size: 12px;
}

.region-services--list:last-of-type {
    align-self: flex-start;
}

.region-services--item {
    padding: 8px 0;
    padding-left: 1.5em;
    border-bottom: 1px solid #dadada;
    background: transparent url(../../images/red-bullet.png) 0 no-repeat;
}

.region-services--item:last-of-type {
    border: none;
}

.region-services--link {
    color: #7b7b7b;
}

.region-services--link:hover {
    color: #b5141d;
}