
.region-slogan-area--helpful {
    min-height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.region-slogan-area--slogan {
    margin: 0;
    padding: 0;
    font-family: "Raleway Thin", Arial, sans-serif;
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
}