.region-warning {
    width: 270px;
    position: absolute;
    top: 25%;
    right: 14%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 12px;
}

.region-warning--indented {
    padding: 15px;
}

.region-warning--part_red {
    background-color: #b5141d;
    box-shadow: 1px 2px 5px 0 #090909;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    border-bottom: 4px solid #000;
}

.region-warning--smaller {
    font-size: 90%;
    line-height: 1.4;
}

.region-warning--title-with-sign {
    background: transparent url(../../images/warn_sign.png) 0 0 no-repeat;
    min-height: 35px;
    padding-left: 45px;
    margin: 0 0 1em 0;
    font-size: 14px;
    letter-spacing: -1px;
}

.region-warning--part_not-red {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.46);
}

.region-warning--grey {
    background: #d4d4d4;
    background: linear-gradient(to bottom, #d4d4d4 0%,#e9e9e9 100%);
}

.region-warning--other-font {
    font-family: Calibri, Arial, sans-serif;
    color: #000;
}

.region-warning--formular {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.region-warning--line {
    order: 2;
    background-color: #fff;
    height: 6px;
    width: 100%;
}

.region-warning--step {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 17px;
    color: #fff;
    padding: 4px 10px;
}

.region-warning_step_one {
    order: 1;
    background-color: #222;
}

.region-warning_step_two {
    order: 3;
    background-color: #b5141d;
}

.region-warning--questions {
    background: linear-gradient(120deg, #f6f6f6 0%, #d4d4d4 100%);
}

.region-warning--question-title {
    font-family: Calibri, Arial, sans-serif;
    color: #060606;
    font-size: 15px;
    margin: 0 0 .9em 0;
}

.region-warning--question-answers {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 13px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.region-warning--item {
    margin-bottom: .9em;
}

.region-warning--radio {
    display: none;
}

.region-warning--label:before {
    display: inline-block;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    margin-right: .9em;
    position: relative;
    top: 3px;
}

.region-warning--radio:checked + .region-warning--label:before {
    background-color: #a60912;
    border-color: #a60912;
}

.region-warning--weiter-text {
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: -1px;
    background-color: #b5141d;
    text-align: center;
    padding: 15px 0;
    text-transform: uppercase;
    margin-top: 1em;
    border: none;
    width: 100%;
}