.region-work-system {
    min-height: 400px;
    background: transparent url(../../images/glasses_on_table.png) 0 0 no-repeat;
}

.region-work-system--helpful {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    max-width: 1000px;
    margin-left: 50%;
    color: #fff;
}

.region-work-system--info {
    max-width: 490px;
}

.region-work-system--title {
    font-family: "Raleway Thin", Arial, sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-top: 60px;
    padding: 0;
    text-transform: uppercase;
}

.region-work-system--text {
    font-family: Calibri, Arial, sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.6;
}

.region-work-system--more {
    font-family: "Raleway Thin", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.region-work-system--more-block {
    margin-top: 30px;
    width: 220px;
    padding: 15px 0;
    border-radius: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #b5141d;
}

.region-work-system--more-block:hover {
    background-color: #1d14b1;
}
