{% extends "@classy/misc/status-messages.html.twig" %}

{% block messages %}
  {% if message_list is not empty %}

    {{ attach_library('classy/messages') }}

    <div class="popup-overlay"></div>
    <section class="popup-draggable" id="x-popup-draggable">
      <div class="popup-draggable__header" id="x-popup-header">
        <h2 class="popup-draggable__handler popup-draggable__title">{{ title }}</h2>
        <div class="popup-draggable__close" id="x-popup-close">&times;</div>
      </div>
      <div class="popup-draggable__content">
        {{ parent() }}
      </div>
    </section>

  {% endif %}
{% endblock %}
