{#
/**
 * @file x_discount_entity.html.twig
 * Default theme implementation to present X-Discount Entity data.
 *
 * This template is used when viewing X-Discount Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_x_discount_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('x_discount_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
