<div class="region-work-system">
    <div class="region-work-system--helpful">
        <div class="region-work-system--info">
            <h4 class="region-work-system--title">{{ site_name }}.de work system</h4>
            <div class="region-work-system--text">
                {{ content }}
            </div>
        </div>
        <div class="region-work-system--more">
            <a class="region-work-system--link laveg__noborder" href="/more">
                <div class="region-work-system--more-block">More page</div>
            </a>
         </div>
    </div>
</div>