{% extends "block.html.twig" %}
{% block content %}
<div class="region-footer-second">
    <div class="region-footer-second--helpful laveg__shrink">
        <div class="region-footer-second--logo-container">
            <div class="region-footer-second--logo">{{ site_name }}.de</div>
            <div class="region-footer-second--copyright">©2014 {{ site_name }}.de | All right reserved</div>
        </div>
        {{ content }}
    </div>
</div>

{% endblock %}